* {
    font-family: monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#ffbaba, blue, green, yellow, #a31567, purple, #bcaab7, #03f5ff, #0d8640, #792121, #80b74a, #ffffff, purple);
    height: 90vh;
}

#calc {
    border-radius: 11px;
    padding: 10px 10px 30px 10px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    background-color: beige;
}


/*              /////////////              display                  /////////////////                       */

.dis1 {
    padding-top: 13px;
    text-align: right;
    height: 75%;
    font-size: 2rem;
    background-color: black;
    color: beige;
    border: none;
}

.display {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.dis2 {
    border: none;
    height: 25%;
    color: rgba(23, 23, 23, 0.44);
    background-color: gray;
    text-align: right;
    font-size: .9em;
    padding-right: 4px;
}


/*                  \\\\\\\\\\\\              number pad           \\\\\\\\\\\                  */

.pad {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    background-color: dimgray;
    display: flex;
    flex-wrap: wrap;
    height: 63%;
    text-align: center;
}

.numpad {
    width: 75%;
}

.numpad {
    background-color: #767272;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

li {
    align-self: center;
    display: block;
    list-style: none;
}

.numpad li {
    padding-right: .40em;
    padding: .35em .2em;
}

.opp {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.opp li {
    font-size: .8rem
}

.numpad button {
    width: 32.41145515%;
    background-color: dimgrey;
    margin: .7px;
}

button {
    border: 0;
    color: antiquewhite;
}

.opp button {
    background-color: rgb(255, 192, 72);
    width: 40px;
    padding: 5.6px 25px;
}

.opp button:active,
.opp button:focus,
.opp button:hover {
    background-color: rgba(255, 229, 141, 0.85);
    color: #f4ac56;
    border: 0;
}

.numpad button:active,
.numpad button:focus,
.numpad button:hover {
    background-color: #958e8e;
    border: 0;
    box-shadow: 0;
}