*{
	font-family: monospace;
	font-size:14px;
	margin:0;
	padding:0;
}
body{
	background-image: linear-gradient(#f8bbbb,#acacfc,#a5d3a5);
	height: 90vh;
}

#calc{

	width:200px;
	height: 200px;
	margin: auto;
	margin-top: 30px;
}

/*              /////////////              display                  /////////////////                       */

.dis1{
	padding-top: 13px;
	padding-right: 5px;
	text-align: right;
	height: 75%;
	font-size: 2rem;
	background-color: wheat;
	border:none;
}
.display{
	height:40%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.dis2{
	border:none;
	height: 25%;
	color: rgba(255, 255, 255, 0.79);
	background-color:#95a5a6;
	text-align: right;
	font-size: .9em;
	padding-right: 4px;
}


/*                  \\\\\\\\\\\\              number pad           \\\\\\\\\\\                  */


.pad{
	background-color: #34495e;
	display:flex;
	flex-wrap: wrap;
	height: 63%;
	text-align: center;
}
.numpad{
	width: 75%;
}
.numpad{
	background-color:#34495e;
	display: flex;
    flex-wrap:wrap;
	justify-content: space-around;
	align-items:stretch;
}

li{
	align-self: center;
	display: block;
	list-style: none;
}
.numpad li{
	
	padding-right:  .40em;
	padding: .35em .2em;
}
.opp{
	display: flex;
	width: 25%;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}
.opp li{
	font-size: .8rem
}

.numpad button{
	width: 32.41145515%;
	background-color:#51637b; 
	margin: .7px;
}
button{
	border: 0;
	color: antiquewhite;
}
.opp button{
	background-color: #f39c12;
	width: 40px;
	padding: 5.6px 25px;
}
.opp button:active,
.opp button:focus,
.opp button:hover{
	background-color: rgba(243, 156, 18, 0.9);
	color: #413a2b;
	border: 0;
	box-shadow: 0;
}

.numpad button:active,
.numpad button:focus,
.numpad button:hover{
	background-color:rgba(80, 105, 129, 3); 
	border: 0;
	box-shadow: 0;
}

